.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}
.mainInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 100px;
    margin-bottom: 70px;
}
.mainInfoTextContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
}
.mainInfoTextContainer h1 {
    font-size: 48px;
    width: 350px;
    font-weight: 700;
    margin-bottom: 10px;
}
.mainInfoTextContainer h1 span {
    text-decoration: underline;
    text-decoration-color: #FFC01D;
    text-decoration-thickness: 14px;
    text-underline-offset: -30px;
    text-underline-position:under;
    text-decoration-skip-ink: none;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #FFC01D;
    -webkit-text-decoration-thickness: 14px;
    -webkit-text-underline-offset: -30px;
    -webkit-text-underline-position:under;
    -webkit-text-decoration-skip-ink: none;
    
}
.mainInfoTextContainer p {
    font-size: 20px;
    width: 400px;
    font-weight: 400;
}
.mainInfoImage {
    max-width: 560px;
    max-height:580px;
    min-width: 370px;
    min-height:390px;
    overflow-x: hidden;
}
.comingSoonButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border: 2px solid #3A2C18;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #3A2C18;
}
.comingSoonButton:hover {
    background-color: #3A2C18;
    color: #F8F5F1;
}
.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 200px;
}
.sectionHeading {
    font-size: 40px;
    text-align: center;
}
.aboutContainer p {
    font-size: 24px;
    margin-top: -10px;
    text-align: justify;
}
.featureContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 50px 0 50px;
}
.featureList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1100px) {
    .mainInfoTextContainer {
        align-self: center;
    }
    .aboutContainer {
        margin: 0 -50px;
    }
  }
@media only screen and (max-width: 900px) {
    .mainInfoContainer {
      flex-direction: column;
      text-align: center;
    }
    .mainInfoTextContainer {
        align-items: center;
        width: 400px;
    }
    .comingSoonButton {
        margin-bottom: 20px;
    }
    .featureList {
        display: flex;
        flex-direction: column;
    }
    .featureContainer {
        margin: 0 -20px;
    }
  }

  @media only screen and (max-width: 600px) {
    .sectionHeading {
        font-size: 32px;
    }
    .aboutContainer p {
        font-size: 18px;
    }
  }

  @media only screen and (max-width: 400px) {
    .mainInfoTextContainer {
        width: 80vw;
    }
    .mainInfoTextContainer h1 {
        font-size: 11vw;
        width: 80vw;
    }
    .mainInfoTextContainer h1 span {
        text-decoration-thickness: 12px;
        text-underline-offset: -25px;
        -webkit-text-decoration-thickness: 12px;
        -webkit-text-underline-offset: -25px;
    }
    .mainInfoTextContainer p {
        font-size: 5vw;
        width: 80vw;
    }
    .mainInfoImage {
        max-width: 100vw;
        max-height:150vw;
        min-width: 100vw;
        min-height:150vw;
        overflow-x: hidden;
    }
    .aboutContainer {
        margin: 0 -60px;
    }
    .featureContainer {
        margin: 0 -60px;
    }
  }